.box {
    padding: 20px 24px;
    @media (min-width: 1024px){
        padding: 20px 60px;
    }
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
    &--white {
        background: $color-white;
    }
}