.nav {
    // .nav--dark
    &--dark {
        .nav-list {
            border-bottom: 1px solid rgba(59, 60, 88, 0.4);
        };
        .nav-list__link {
            color: $color-dark;
        }
    }
    //.nav-logo
    &-logo {
        cursor: auto;
        &:hover {
            text-decoration: none !important;
        }
    }
    //.nav-list
    &-list {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        margin-bottom: 15px;
        //.nav-list__item
        &__item {
            display: inline-block;
            padding: 25px 20px;

            &:first-child {
                padding-left: 0;
            }
        }
        //.nav-list__link
        &__link {
            color: $color-white;
            font-size: 16px;
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
