.l {
    // .l-full-width
    &-full-width {        
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }

    // .l-full-height
    &-full-height {
        height: 100vh;
    }

    // .l-align-horizontal
    &-align-horizontal {
        padding: 86px 24px 24px;
        @media (min-width: 1024px){
            height: calc(100vh - 110px)
        }
    }

    // .l-align-vertical
    &-align-vertical {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}