// Fonts
$font: 'Muli', sans-serif;
$font-text: $font;
$font-text-bold: 'Muli', sans-serif;
$font-header : 'Ovo', sans-serif;

$font-nav : $font-header;
$font-bold : $font-header;
$font-btn: $font-header;

$font-weight-bold     : 700;
$font-weight-regular  : 400;

$font-weight-normal   : $font-weight-regular;
$font-weight          : $font-weight-regular;
$font-weight-header   : $font-weight-bold;

// Typography
$header-font-size-h1: 48px;
$header-font-size-h2: 30px;
$header-font-size-h3: 22px;

$text-font-size-p: 16px;

// Colors
$color-primary: light-blue;
$color-secondary: light-blue;

$color-white: white;
$color-pink: #F61666;
$color-purple: #B4258C;
$color-blue-dark: #3E5A98;
$color-purple-light: #665792;
$color-blue-grey: #41415D;
$color-grey-light: #787990;
$color-grey-lighter: #D0D0D5;
$color-grey-white: #DEDEE0;

//Gradients
$color-pink-gradient: linear-gradient(110deg, $color-pink, $color-purple);
$color-blue-gradient: linear-gradient(110deg, $color-blue-dark, $color-purple-light);
$color-blue-grey-gradient: linear-gradient(110deg, $color-blue-grey, $color-grey-light);
$color-light-grey-gradient: linear-gradient(110deg, $color-grey-lighter, $color-grey-white);