// Fonts
$font: 'Muli', sans-serif;
$font-text: $font;
$font-text-bold: 'Muli', sans-serif;
$font-header : 'Ovo', sans-serif;

$font-nav : $font-header;
$font-bold : $font-header;
$font-btn: $font-header;

$font-weight-bold     : 700;
$font-weight-regular  : 400;

$font-weight-normal   : $font-weight-regular;
$font-weight          : $font-weight-regular;
$font-weight-header   : $font-weight-bold;

// Typography
$header-font-size-h1: 48px;
$header-font-size-h2: 24px;
$header-font-size-h3: 22px;

$text-font-size-p: 16px;

// Colors
$color-primary: light-blue;
$color-secondary: light-blue;

$color-white: white;
$color-pink: #F61666;

$color-pink-gradient: linear-gradient(110deg, $color-pink, #B4258C);